#  On ignore tout dans data (y compris le dossier cleaned et raw)
data/*

#  On autorise explicitement le dossier 'geo' (données géographiques statiques)
!data/geo/

#  On autorise explicitement le dossier 'cleaned' à être scanné
!data/cleaned/

# 3. On ignore tout dans le dossier 'cleaned'
data/cleaned/*

#  On fait l'exception finale pour le fichier fixe
!data/cleaned/annual-co-emissions-from-aviation.csv

__pycache__/
*.pyc
*.pyo